header {
  background: black;
  height: 7em;
}

h1 {
  font-size: 30pt;
  text-align: center;
  padding-top: 1em;
  color: blue;
}

.image-container {
  z-index: 0;
  height: auto;
  max-width: 100%;
  text-align: center;
  position: relative;
}
.uploads {
  font-size: 18pt;
  height: 1em;
  width: 95%;
  padding: 1em 2em 1em 2em;
  padding-top: 2em;
  display: inline-flex;
}
.inputs {
  display: flex;
}

.meme-text {
  font-size: 18pt;
  padding: 1em 2em 2em 2em;
}

.meme-header {
  z-index: 1;
  color: white;
  position: absolute;
  padding-top: .75em;
  font-size: 24pt;
  width: 100%; 
}

.meme-footer {
  z-index: 1;
  color: white;
  position: relative;
  font-size: 24pt;
  width: 100%;
  padding: 1em; 
}

.export-button {
  height: 3em;
  font-size: 14pt;
  text-align: center;
  color: blue;
  padding: 1em 2em 1em 2em;
}

footer {
  background: green;
  height: 3em;
  width: auto;
  color: black;
  text-align: center;
  font-size: 14pt;
  padding-top: 1.5em;
}
