header {
  background: black;
  height: 7em;
}

h1 {
  font-size: 30pt;
  text-align: center;
  padding-top: 1em;
  color: blue;
}

.image-container {
  z-index: 0;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: blue;
}

.label {
  height: 3em;
  width: auto;
  display: inline-flex space-between;

}

.meme-header {
  z-index: 1;
  color: white;
  position: relative;
  padding-top: 1em;
  font-size: 24pt;
  width: 100%; 
}

.meme-footer {
  z-index: 1;
  color: white;
  position: relative;
  padding-bottom: 1em;
  font-size: 24pt;
  width: 100%; 
}

button {
  height: 3em;
  width: 15em;
  color: blue;
}

footer {
  background: green;
  height: 3em;
  width: auto;
  color: black;
  text-align: center;
  font-size: 14pt;
  padding-top: .75em;
}
