header {
  background: black;
  height: 7em;
}

h1 {
  font-size: 30pt;
  text-align: center;
  padding-top: 1em;
  color: blue;
}

.image {
  z-index: 1;
  height: auto;
  max-width: 95%;
  text-align: center;
}

.search-bars {
  width: 95%;
  padding: 1em;
  display: inline-flex;
}

label {
  height: 2em;
  width: auto;
  display: block;
}

.meme-header {
  z-index: 2;
  color: black;
  position: relative;
  padding-top: 2.5em;
  font-size: 24pt;
  width: 100%; 
}

.meme-footer {
  z-index: 2;
  color: black;
  position: relative;
  padding-bottom: 1.5em;
  font-size: 24pt; 
}

button {
  height: 3em;
  width: 15em;
}

footer {
  background: green;
  height: 3em;
  width: auto;
  color: black;
  text-align: center;
  font-size: 14pt;
  padding-top: .75em;
}
